-var name = "Preprocesadores"
-var title = "Titulo principal"
-var usuario = "styven"
-var cardtitle = ["Tarjeta uno", "Tarjeta dos", "Tarjeta tres"]
-var info = ["Acerca", "Noticias","Contacto"]
mixin card(picture, title, text)
    .box
        .box__picture(): img(src="", alt="")
        .box__container 
            h3 #{title} 
            p #{text}
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Preprocesadores 
        link(rel="stylesheet", href="")
    body
    header
        h1= name
        if usuario 
            a Hola #{usuario}
        else
            a.button Inicio
    section.intro 
        div.intro__picture: img(src="", alt="")
        .intro__text 
        h2 #{title}
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry
            span Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a.button Leer mas
    main.main_container
        section.container_cards
            +card('',cardtitle[0],'Proin dapibus massa nisl, nec fringilla elit laoreet nec. Pellentesque ultricies augue pharetra, bibendum elit nec, faucibus ex.')
            +card('',cardtitle[1],'Donec imperdiet, nulla eget suscipit dapibus, arcu nibh pharetra magna, a rutrum sem est nec nunc.')
            +card('',cardtitle[2],'Aliquam fermentum turpis sit amet dui efficitur, eget placerat lectus convallis.')
    footer
        h4 #{name}
        ul 
            each link in info
                li #{link}
